* {
  /* margin: 0;
  padding: 0; */
  /* border: solid black 1px; */
}


body {
  font-family: 'Roboto', sans-serif;
/* font-family: 'Roboto Slab', serif; */
  background-color: #FFE5BA;
  margin: 0;
}

.navbar a {
  color: #FF916B;
}

.navbar {
  height: 75px;
  padding: 5px;
  background: #5B89C4;
  color: white;
  width: 100%;
}

.navbar h1 {
margin: 5px 10px;
font-size: 3em;
/* width: 250px; */
}

.nav-items {
  /* float: left; */
  position: absolute;
  top: 33px;
  right: 15px;
  margin: 0;
}

.nav-items ul {
}

ul li{
  list-style: none;
}

.nav-items ul li{
  list-style: none;
    float: left;
    margin: 0 15px 0 0;
    color: rgba(255, 255, 255, 0.76);
}

.content {
  margin: 25px auto;
  width: 50%;
  color: #3b3b3b;
}

.content a {
  color: #6a6a6a;
  text-decoration: none;
}
