













/* * {
  border: solid blue 2px;
} */

/* td {
  width: 100px;
  height: 100px;
}

.middle {
 border: solid black 1px;
 border-top: 0px;
 border-bottom: 0px;
}

.middleh {
 border: solid black 1px;
 border-left: 0px;
 border-right: 0px;
}

#center {
 border: solid black 1px;
}

#main {
  width:50%;
  margin: 0 auto 0 auto;
}
table {

  margin: 0 auto 0 auto;
      text-align: center;
}

h1 {
    text-align: center;
} */
